<!DOCTYPE html>
<html lang="zh-cn">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <meta name="renderer" content="webkit">
    <title>网站信息</title>  
    <link rel="stylesheet" href="__CSS__/pintuer.css">
    <link rel="stylesheet" href="__CSS__/admin.css">
    <script src="__JS__/jquery.js"></script>
    <script src="__JS__/pintuer.js"></script>  
</head>
<body>
<div class="panel admin-panel">
  <div class="panel-head"><strong class="icon-reorder"> 分类列表</strong></div>
  <div class="padding border-bottom">  
  <a class="button border-yellow" href="addcategory"><span class="icon-plus-square-o"></span> 添加分类</a>
  </div> 
  <table class="table table-hover text-center">
    <tr>
      <th width="5%">ID</th>     
      <th>分类名称</th>  
      <th>排序</th>     
      <th width="250">操作</th>
    </tr>
    
    
   {foreach($data as $k=>$v)}    
    <tr>
      <td>{$v.categoryid}</td>      
      <td>{$v.category_name}</td>  
      <td>1</td>
         
      <td>
          
      <div class="button-group">
      <a type="button" class="button border-main" href="/admin/categorya/showCategory/categoryid/{$v.categoryid}"><span class="icon-edit"></span>修改</a>
       <a class="button border-red" href="del" onclick="del({$v.categoryid})"><span class="icon-trash-o"></span> 删除</a>
      </div>
      </td>
    </tr> 
    {/foreach}  
    
    
    
  </table>
</div>
<script>
function del(id){
    if(confirm("您确定要删除吗?")){
    $.get("/admin/Categorya/del",{id:id},function(data){
       
       if(data==1){
           window.location.reload();
           alert(删除成功);        
       } else{
           alert(删除失败);
       }
       
       
});
}
}
</script>

</body></html>
