<!--Begin Footer Begin-->
    <div class="btmbg">
        <div class="btm">
            备案/许可证编号：蜀ICP备12009302号-1-www.dingguagua.com   Copyright © 2015-2018 尤洪商城网 All Rights Reserved. 复制必究 , Technical Support: Dgg Group <br />
            <img src="__IMAGE__/b_1.gif" width="98" height="33" /><img src="__IMAGE__/b_2.gif" width="98" height="33" /><img src="__IMAGE__/b_3.gif" width="98" height="33" /><img src="__IMAGE__/b_4.gif" width="98" height="33" /><img src="__IMAGE__/b_5.gif" width="98" height="33" /><img src="__IMAGE__/b_6.gif" width="98" height="33" />
        </div>    	
    </div>
    <!--End Footer End -->    
    
    </body>  
    <!--[if IE 6]>
    <script src="//letskillie6.googlecode.com/svn/trunk/2/zh_CN.js"></script>
    <![endif]-->
</html>