{layout name='shopcart/layout_shopcart'}
<div class="i_bg">  
    <div class="content mar_20">
    	<img src="__IMAGE__/img1.jpg" />        

    </div>
    
    <!--Begin 第一步：查看购物车 Begin -->
    <div class="content mar_20">
    	<table border="0" class="car_tab" style="width:1200px; margin-bottom:50px;" cellspacing="0" cellpadding="0">
          <tr>
            <td class="car_th" width="490">商品名称</td>
            <td class="car_th" width="140">属性</td>
            <td class="car_th" width="150">购买数量</td>
            <td class="car_th" width="130">小计</td>
            <td class="car_th" width="140">返还积分</td>
            <td class="car_th" width="150">操作</td>
          </tr>


            {empty name="data"}
             <tr>
                <td colspan="6" align="center" style="font-family:'Microsoft YaHei';">购物车为空！</td>             
            </tr>

            {else /}
            {volist name="data" id="vo"}
            {if $i%2==0}
            
            <tr class="car_tr">
                <td>
                    <div class="c_s_img"><img src="__IMAGE__/{$vo.thumb}" width="73" height="73" /></div>
                    {$vo.goods_name}
                </td>
                <td align="center">颜色：灰色</td>
                <td align="center">
                    <div class="c_num">
                        <input type="button" value="" onclick="jianUpdate1(jq(this),{$vo.cartid});" class="car_btn_1" />
                        <input type="text" value="{$vo.num}" name="" class="car_ipt"  onchange="add_sub_change({$vo.cartid},jq(this))"  />  
                        <input type="button" value="" onclick="addUpdate1(jq(this),{$vo.cartid});" class="car_btn_2" />
                    </div>
                </td>
                <td align="center" style="color:#ff4e00;" name="subtotal">￥{$vo.subtotal}</td>
                <td align="center">26R</td>
                <td align="center"><a href="javascript:void(0)" onclick="ShowDiv('MyDiv','fade',{$vo.cartid},jq(this))">删除</a>&nbsp; &nbsp;<a href="#">加入收藏</a></td>
            </tr>
            {elseif $i%2!=0 /}
            <tr>
                <td>
                    <div class="c_s_img"><img src="__IMAGE__/{$vo.thumb}" width="73" height="73" /></div>
                    {$vo.goods_name}
                </td>
                <td align="center">颜色：灰色</td>
                <td align="center">
                    <div class="c_num">
                        <input type="button" value="" onclick="jianUpdate1(jq(this),{$vo.cartid});" class="car_btn_1" />
                        <input type="text" value="{$vo.num}" name="" class="car_ipt"  onchange="add_sub_change({$vo.cartid},jq(this))" />  
                        <input type="button" value="" onclick="addUpdate1(jq(this),{$vo.cartid});" class="car_btn_2" />
                    </div>
                </td>
                <td align="center" style="color:#ff4e00;" name='subtotal'>￥{$vo.subtotal}</td>
                <td align="center">26R</td>
                <td align="center"><a onclick="ShowDiv('MyDiv','fade',{$vo.cartid},jq(this))">删除</a>&nbsp; &nbsp;<a href="#">加入收藏</a></td>
            </tr>
                {/if}
            {/volist}
            <tr height="70">
                    <td colspan="6" style="font-family:'Microsoft YaHei'; border-bottom:0;">
                      <label class="r_rad"><input type="checkbox" name="clear" checked="checked" /></label><label class="r_txt">清空购物车</label>
                      <span class="fr" name='total'>商品总价：<b style="font-size:22px; color:#ff4e00;">￥{$total}</b></span>
                  </td>
                </tr>

                <tr valign="top" height="150">
                        <td colspan="6" align="right">
                          <a href="#"><img src="__IMAGE__/buy1.gif" /></a>&nbsp; &nbsp; 
                          {empty name="data"}
                          <a href="javascript:void(0)" name="sure"><img src="__IMAGE__/buy2.gif" class='gray' /></a>
                          {else/}
                          <a href="account" name="sure"><img src="__IMAGE__/buy2.gif" /></a>
                          {/empty}
                      </td>
                    </tr>
            {/empty}



        </table>
        
    </div>
	<!--End 第一步：查看购物车 End--> 
    
    
    <!--Begin 弹出层-删除商品 Begin-->
    <div id="fade" class="black_overlay"></div>
    <div id="MyDiv" class="white_content">             
        <div class="white_d">
            <div class="notice_t">

                <span class="fr" style="margin-top:10px; cursor:pointer;" onclick="CloseDiv('MyDiv','fade')"><img src="__IMAGE__/close.gif" /></span>

            </div>
            <div class="notice_c">
           		
                <table border="0" align="center" style="font-size:16px;" cellspacing="0" cellpadding="0">
                  <tr valign="top">
                    <td>您确定要把该商品移除购物车吗？</td>
                  </tr>
                  <tr height="50" valign="bottom">

                    <td><a href="javascript:void(0)" class="b_sure">确定</a><a href="javascript:void(0)" class="b_buy" onclick="CloseDiv('MyDiv','fade')">取消</a></td>
                  </tr>
                </table>

            </div>
        </div>
    </div>    
    <!--End 弹出层-删除商品 End-->
    
    
    
